default: &default_env
  SECRET: mysecret
  MASTER_PASSWORD: mymasterpassword

dev:
  <<: *default_env
  STAGE: 'dev'
  USERS_TABLE: 'Users-dev'
  ACCOUNTS_TABLE: 'Accounts-dev'
  TRANSACTIONS_TABLE: 'Transactions-dev'
  PENDING_TRANSACTIONS_TABLE: 'PendingTransactions-dev'

production:
  <<: *default_env
  STAGE: 'production'
  USERS_TABLE: 'Users'
  ACCOUNTS_TABLE: 'Accounts'
  TRANSACTIONS_TABLE: 'Transactions'
  PENDING_TRANSACTIONS_TABLE: 'PendingTransactions'

test:
  <<: *default_env
  STAGE: 'test'
  USERS_TABLE: 'Users-test'
  ACCOUNTS_TABLE: 'Accounts-test'
  TRANSACTIONS_TABLE: 'Transactions-test'
  PENDING_TRANSACTIONS_TABLE: 'PendingTransactions-test'
